input[type="range"] {
    width: 30px;
  }
  
  input[type="text"]:invalid {
    outline: 2px solid red;
  }
  
  div {
    margin: 2rem;
  }
  
  .screen-reader-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }